
svg {
    color : darkblue;
}

/* Estilo para pantallas md */
@media (max-width: 991.98px) {
    h4{
        font-size: 21px;
    }

}
/* Estilo para pantallas sm */
@media (max-width: 767.98px) {
    h4 {
        font-size: 21px;
    }
    
}

h4 {
    color: white;
}
                       
h5 {
    color : darkblue;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color : darkblue;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color : darkblue;
}

p {
    color : darkblue;

}

a {
    text-decoration: none; /* Elimina el subrayado por defecto */
}

a:hover {
    text-decoration: none; /* Mantiene el subrayado desactivado al pasar el cursor */
}

#dimgray {
    color : dimgray;
}

#white {
    color : white;
}

#darkblue {
    color : darkblue;
}
#darkgray {
    color : darkgray;
}

.card-header {
    background: darkblue;
    border: none;
}

body {
    background-color : #e0e4e9;
}

#body-login {
    background-color : white;
}

#sinbordes {
    background: none;
    border: none;
}

#mensaje{
    background: dimgray;
}

label {
    color : dimgray;
}

.btn {
    color : white;
    background: darkblue;
}

th {
    color: darkblue;
  }


#bgWhite {
    background: #e0e4e9;
    
}

#card-index {
    background-color : 	#e0e4e9;
     border-width: 2px !important;
}

#color-card {

    background: whitesmoke;
    
}

#color-card-chofer {

    background: #d9d9d9;
  
}

#retornar {

    background:  #ff3333;
}

#modificar {

    color : #ff3333;
    font-size: 12px;
}

#imprimir {

    color: dimgray;
    font-size: 12px;
}

#imprimirExporta {

    color: white;
    font-size: 12px;
}

#eliminar {
    
    background : whitesmoke;  
}

#modificarpsw {

    color : darkblue;
    font-size: 12px;
}

#pdf{

    color : #ff3333;

}

#icono2 {
    font-size: 13px;
}

#cajaInha {
    font-size: 13px;
    color : darkgray;
}

#icono {
    color : white;
    font-size: 14px;
}

#iconoDesh {
    color : cornflowerblue;
    font-size: 14px;
}

#azul {
    color : darkslateblue;
}

#ingreso {
    
    background: dimgrey;
    border: none;
    font-size: 12px;
    color: white;
}

#gasto {
    
    background: darkslateblue;
    border: none;
    font-size: 12px;
    color: white;
}

#enlace {
    color: dimgray;
    font-weight: bold;
}









     


