<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Combustible Modificado</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css">   
                        </head>
                        <body>                          
                            <div class="card-header mb-2" style="height: 70px;">
                                <div class="row">
                                    <div class="col-2">   
                                        <a title="Volver" th:href="@{/combustible/listarAdmin/__${carga.camion.id}__}" type="button">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                            </svg> 
                                        </a>   
                                    </div>
                                    <div  class="col-8 text-center">
                                        <h4>Carga Diesel</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-2"> 
                                <div class="card border-secondary p-3 mb-2" id="color-card">
                                    <h6 th:text="'Fecha ' + ${#dates.format(carga.fechaCarga, 'dd-MM-yyyy')}+' - ID'+${carga.idCarga}"></h6>
                                    <h6>
                                        <span class="text-dark" th:text="'Camión '+${carga.camion.dominio}+' '+${carga.camion.marca}+' '+${carga.camion.modelo}"></span>
                                        <span class="text-dark" th:if="${carga.acoplado != null}" th:text="'- Acoplado '+${carga.acoplado.dominio}+' '+${carga.acoplado.marca}+' '+${carga.acoplado.modelo}"></span>
                                    </h6>
                                    <p class='mb-1' id="dimgray" th:text="'KM Carga '+${#numbers.formatDecimal(carga.kmCarga, 0, 'POINT', 1, 'COMMA')}+' - '+'Km Recorrido: ' + ${#numbers.formatDecimal(carga.kmRecorrido, 1, 'POINT', 1, 'COMMA')}"></p>
                                    <h6 class="mb-1 text-dark" th:text="${carga.litro} + ' L - Tanque Lleno: ' + ${carga.completo}"></h6>
                                    <h6 class="mb-1 text-success"><strong th:text="'✔ Consumo: ' + ${carga.consumo} + ' L / 100 Km'"></strong></h6>
                                    <span id="dimgray" th:if="${carga.azul != null}" th:text="'Urea '+${carga.azul.litro}+' Lts '"></span>
                                    <p class="mb-0" id="dimgray" th:if="${carga.chofer != null}" th:text="'Chofer '+${carga.chofer.nombre}"></p>
                                </div>
                                <div th:if="${exito != null}" class="card-body mb-4 text-center border border-secondary rounded" id="mensaje">                        
                                    <h6 id="white" th:text="${exito}"></h6>                                                                             
                                </div>
                                <div th:if="${carga.imagen == null}">
                                    <div title="Cargar Imagen de Combustible" class="mb-4 text-center">
                                        <a th:href="@{/imagen/cargarCombustible/__${carga.id}__}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z"/>
                                            </svg>    <p id="icono2">Cargar Imagen</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="text-center mb-2">
                                    <a class="btn btn-primary bg-primary btn-lg w-50" type="button" title="Finalizar" th:href="@{/combustible/listarAdmin/__${carga.camion.id}__}">Aceptar</a>
                                </div>

                            </div>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>
