<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Documentacion Exportar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css"> 
                        <style>
                            .spinner svg {
                                animation: spin 1s linear infinite;
                            }
                            @keyframes spin {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }
                            @media (max-width: 991.98px) {
                                .table {
                                    font-size: 13px;
                                }
                            }
                            @media (max-width: 767.98px) {
                                .table {
                                    font-size: 10px;
                                }
                            }
                        </style>    
                        </head>
                        <body>
                            <section>
                                <div class="card-header mb-2" style="height: 70px;">
                                    <div class="row">
                                        <div class="col-2">   
                                            <a id="volver1" title="Volver" type="button" th:href="@{/documentacion/listarAdminVencimiento}">
                                                <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                                </svg> 
                                            </a>   
                                        </div>
                                        <div  class="col-6 col-sm-6 col-md-7 col-lg-8 col-xl-8 text-center">
                                            <h4>Exportar Documentación</h4>
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 text-center">
                                            <form>
                                                <button id="exportButton" onclick="startExport(event)" class="btn btn-light" type="button">
                                                    <input hidden id="dias" th:value="${dias}" name="dias">
                                                        <h6 id="icono">Excel</h6>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 text-center">
                                            <a title="Ir a Imprimir Documentación" target="_blank" th:href="@{/documentacion/imprimirVencimiento/__${dias}__}">
                                                <svg id="imprimirExporta" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                                    <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                                                </svg><p id="imprimirExporta">Imprimir</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">  
                                    <div id="loadingModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); color: white; text-align: center; z-index: 1000;">
                                        <div style="margin-top: 20%; font-size: 20px;">
                                            <div class="spinner" style="margin-bottom: 20px;">
                                                <svg viewBox="0 0 50 50" style="width: 50px; height: 50px;">
                                                    <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" stroke="#fff" stroke-dasharray="31.4 31.4" stroke-linecap="round">
                                                        <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite" />
                                                    </circle>
                                                </svg>
                                            </div>
                                            Exportando... Por favor, espere.
                                        </div>
                                    </div>                                                   
                                    <div class="mb-4" th:each="entry : ${documentacion}">
                                        <h6 class="text-dark p-1 text-center"><strong th:text="${entry.key}"></strong></h6> 
                                        <div class="table-responsive border border-secondary rounded">
                                            <table class="table bg-light table-hover table-sm mb-0" id="dimgray">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Entidad</th>
                                                        <th class="text-center">Fecha Alta</th>
                                                        <th class="text-center">Vencimiento</th>
                                                        <th class="text-center">Vigencia</th>
                                                        <th class="text-center">Estado</th>
                                                        <th class="text-center">Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="documento : ${entry.value}">
                                                        <td th:if="${documento.camion != null}" class="text-center" th:text="${documento.camion.dominio}"></td>
                                                        <td th:if="${documento.acoplado != null}" class="text-center" th:text="${documento.acoplado.dominio}"></td>
                                                        <td th:if="${documento.chofer != null}" class="text-center" th:text="${documento.chofer.nombre}"></td>
                                                        <td class="text-center" th:text="${#dates.format(documento.fechaAlta, 'dd-MM-yyyy')}"></td>
                                                        <td class="text-center" th:text="${#dates.format(documento.fechaVencimiento, 'dd-MM-yyyy')}"></td>
                                                        <th class="text-center text-primary" th:text="${documento.diasVigencia}+' días'"></th>
                                                        <td class="text-center">
                                                            <span th:switch="${documento.estado}">
                                                                <span th:case="'VIGENTE'">✅ VIGENTE</span>
                                                                <span th:case="'PRÓXIMO A VENCER'">🟡 PRÓXIMO A VENCER</span>
                                                                <span th:case="'VENCIDO'">❌ VENCIDO</span>
                                                            </span> 
                                                        </td>
                                                        <td class="text-center" th:text="${documento.observacion}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br>
                                        <div class="container text-center mb-2">
                                            <a id="volver2" class="btn btn-primary bg-primary btn-lg w-50" type="button" th:href="@{/documentacion/listarAdminVencimiento}">Volver</a>
                                        </div>
                                </div>
                                <div id="spinner" class="modal" style="display: none;">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                                        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                            <span class="sr-only">Cargando...</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <script>
                                function startExport(event) {
                                    event.preventDefault();

                                    const modal = document.getElementById('loadingModal');
                                    modal.style.display = 'block';

                                    const dias = document.getElementById('dias').value;

                                    const url = `/documentacion/exportaVencimiento?dias=${dias}`;

                                    fetch(url, {method: 'POST'})
                                            .then(response => {
                                                const contentDisposition = response.headers.get('Content-Disposition');
                                                let fileName = 'exportacion.xlsx';

                                                if (contentDisposition) {
                                                    const match = contentDisposition.match(/filename="?([^"]+)"?/);
                                                    if (match && match[1]) {
                                                        fileName = match[1];
                                                    }
                                                }

                                                return response.blob().then(blob => ({blob, fileName}));
                                            })
                                            .then(({ blob, fileName }) => {
                                                const downloadUrl = window.URL.createObjectURL(blob);
                                                const a = document.createElement('a');
                                                a.href = downloadUrl;
                                                a.download = fileName;
                                                document.body.appendChild(a);
                                                a.click();
                                                a.remove();
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                                alert('Error durante la exportación.');
                                            })
                                            .finally(() => {
                                                modal.style.display = 'none';
                                            });
                                }

                                document.addEventListener("DOMContentLoaded", function () {
                                    const volverBtn = document.getElementById("volver1");
                                    volverBtn.addEventListener("click", function (e) {
                                        // Mostrar spinner
                                        document.getElementById("spinner").style.display = "block";
                                    });
                                });
                                document.addEventListener("DOMContentLoaded", function () {
                                    const volverBtn = document.getElementById("volver2");
                                    volverBtn.addEventListener("click", function (e) {
                                        // Mostrar spinner
                                        document.getElementById("spinner").style.display = "block";
                                    });
                                });

                            </script>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>
