<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Entrega Registrar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css"> 
                        <script>
                            window.onload = function () {
                                var fechaActual = new Date();
                                var dia = String(fechaActual.getDate()).padStart(2, '0');
                                var mes = String(fechaActual.getMonth() + 1).padStart(2, '0');
                                var anio = fechaActual.getFullYear();
                                var fechaFormateada = anio + '-' + mes + '-' + dia;

                                document.getElementById('fecha').max = fechaFormateada;
                            };
                        </script>
                        </head>
                        <body>
                            <section>
                                <div class="card-header mb-2" style="height: 70px;">
                                    <div class="row">
                                        <div class="col-2">   
                                            <a title="Volver" th:href="@{/index}" type="button">
                                                <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                                </svg> 
                                            </a>   
                                        </div>
                                        <div  class="col-8 text-center">
                                            <h4>Registrar Entrega</h4>
                                        </div>
                                        <div title="Ver Entregas" class="col-2 text-center">
                                            <a th:href="@{/entrega/listar}">
                                                <svg id="white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
                                                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
                                                    <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
                                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
                                                </svg> <h6 id="icono">Buscar</h6> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-2">   
                                    <div class="card border-secondary p-2" id="color-card"> 
                                        <form id="form" th:action="@{/entrega/registro}" method="POST">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-2">
                                                    <label for="chofer" class="form-floting text-secondary">Chofer*</label>
                                                    <select class="form-control" id="chofer" name="idChofer" required>
                                                        <option value="" selected disabled>Seleccione Chofer</option>
                                                        <option th:each="cuenta : ${cuentas}"
                                                                th:value="${cuenta.chofer.id}"
                                                                th:if="${cuenta.chofer.estado == 'HABILITADO'}"
                                                                th:text="${cuenta.chofer.nombre}+' - Saldo: $'+${#numbers.formatDecimal(cuenta.saldo, 1, 'POINT', 2, 'COMMA')}"/>
                                                    </select>
                                                </div>
                                                <div class="d-none d-sm-block col-lg-4 col-xl-4">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                                                    <label for="fecha" class="form-label text-secondary">Fecha*</label>
                                                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                                                </div>                                      
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                                                    <label for="importe" class="form-label text-secondary">Importe*</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">$</span>
                                                        <input type="number" step="0.01" class="form-control" id="importe" placeholder="Ingrese Importe" name="importe" required>
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-5">
                                                    <label for="observacion" class="form-label text-secondary">Observación*</label>
                                                    <input type="text" class="form-control" id="observacion" placeholder="Ingrese Observación" name="observacion" required minlength="1" maxlength="600" size="600">
                                                </div>
                                                <div class="d-none d-sm-block col-lg-4 col-xl-4">
                                                </div>
                                            </div>
                                            <div class="text-center mb-2">
                                                <button class="btn btn-secondary bg-secondary border-light w-50" type="submit" title="Registrar Entrega">Registrar</button>
                                            </div>
                                            <div class="text-center">
                                                <a class="btn btn-primary bg-primary border-light w-50" type="button" th:href= "@{/index}" title="Cancelar">Cancelar</a>
                                            </div> 
                                        </form>
                                    </div>
                                </div>
                                <div id="spinner" class="modal" style="display: none;">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                                        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                            <span class="sr-only">Cargando...</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <script>
                                const conceptoInput = document.getElementById('observacion');
                                const maxLength = 600;

                                conceptoInput.addEventListener('input', function () {
                                    if (conceptoInput.value.length > maxLength) {
                                        conceptoInput.value = conceptoInput.value.slice(0, maxLength);
                                    }
                                });
                            </script>
                            <script>
                                document.getElementById("form").addEventListener("submit", function () {
                                    document.getElementById("spinner").style.display = "block";
                                });
                            </script>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>
