
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Imprimir Viajes</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <style>
                        .table {
                                    font-size: 9px;
                                }
                        
                        html, body {
                            height: 100%;
                        }

                        @media print {
                            .boton-imprimir {
                                display: none !important;
                            }
                        }
                    </style>        
                    </head>
                    <body>
                        <div class="row">
                            <div class='col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1'></div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 text-center mb-4">
                                <div class="form-floating">
                                    <h5 class="text-primary" th:text="'Lista de Viajes Desde '+${desde}+' - Hasta '+${hasta}"></h5>
                                </div>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mt-2">
                                <a href="#" class="boton-imprimir" onclick="window.print(); return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        
                        <div class="table-responsive border border-secondary rounded">
                            <table class="table table-hover table-sm mb-0" id="dimgray">
                                <thead>
                                    <tr>
                                        <th class="text-center">FechaCarga</th>
                                        <th class="text-center">FechaDescarga</th>
                                        <th class="text-center">Cliente</th>
                                        <th class="text-center">LugarCarga</th>
                                        <th class="text-center">DestinoCarga</th>
                                        <th class="text-center">Chofer</th>
                                        <th class="text-center">Camión</th>
                                        <th class="text-center">Acoplado</th>
                                        <th class="text-center">Km</th>
                                        <th class="text-center">Producto</th>   
                                        <th class="text-center">CP</th>
                                        <th class="text-center">CTG</th>
                                        <th class="text-center">Tarifa</th>
                                        <th class="text-center">Comisión</th>
                                        <th class="text-center">KG</th>
                                        <th class="text-center">Neto</th>
                                        <th class="text-center">Iva</th>
                                        <th class="text-center">Total</th>
                                        <th th:if="${cont != 0}" class="text-center">Gasto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="flete : ${fletes}">
                                        <td class="text-center" th:text="${#dates.format(flete.fechaCarga, 'dd-MM-yyyy')}"></td>
                                        <td class="text-center" th:text="${#dates.format(flete.fechaFlete, 'dd-MM-yyyy')}"></td>
                                        <td class="text-center" th:text="${flete.cliente.nombre}"></td>
                                        <td class="text-center" th:text="${flete.origenFlete}"></td>
                                        <td class="text-center" th:text="${flete.destinoFlete}"></td>
                                        <td class="text-center" th:text="${flete.chofer.nombre}"></td>
                                        <td class="text-center" th:text="${flete.camion.dominio}"></td>
                                        <td th:if="${flete.acoplado != null}" class="text-center" th:text="${flete.acoplado.dominio}"></td>
                                        <td th:if="${flete.acoplado == null}" class="text-center">-</td>
                                        <td class="text-center" th:text="${flete.kmFlete}"></td>
                                        <td class="text-center" th:text="${flete.producto.nombre}"></td>
                                        <td class="text-center" th:text="${flete.cartaPorte}"></td>
                                        <td class="text-center" th:text="${flete.ctg}"></td>
                                        <td class="text-center" th:text="'$'+${flete.tarifa}"></td>
                                        <td class="text-center" th:text="${flete.comisionTpte}"></td>
                                        <td class="text-center" th:text="${flete.kgFlete}"></td>
                                        <td class="text-center" th:text="'$'+${flete.neto}"></td>
                                        <td class="text-center" th:text="'$'+${flete.iva}"></td>
                                        <td class="text-center" th:text="'$'+${flete.total}"></td>
                                        <td th:if="${flete.gasto != null}" class="text-center" th:text="'$'+${flete.gasto.importe}"></td>
                                </tbody>
                            </table>
                        </div>            
                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                    </body>
                    </html>
