<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ingreso Eliminar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css">   
                        </head>
                        <body>                        
                            <div class="card-header mb-2" style="height: 70px;">
                                <div class="row">
                                    <div class="col-2">   
                                        <a title="Volver" th:href="@{/caja/mostrarAdmin/__${ingreso.chofer.id}__}" type="button">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                            </svg> 
                                        </a>   
                                    </div>
                                    <div  class="col-8 text-center">
                                        <h4>Eliminar Ingreso</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-2">   
                                <div class="card border-secondary p-3 mb-2" id="color-card">
                                    <h6 th:text="'Importe $'+${#numbers.formatDecimal(ingreso.importe, 0, 'POINT', 2, 'COMMA')}"></h6>
                                    <h6 id="dimgray" th:text="'Caja de Chofer '+${ingreso.chofer.nombre}"></h6>
                                    <h6 id="dimgray" th:text="'Fecha ' + ${#dates.format(ingreso.fecha, 'dd-MM-yyyy')}+' - ID'+${ingreso.idIngreso}"></h6>
                                    <p class="mb-0" id="dimgray" th:text="${ingreso.observacion}"></p>
                                </div>

                                <div th:if="${error == null}" class="card bg-secondary mb-4 p-3 border-secondary text-center">
                                    <h6 id="white">¿Seguro desea ELIMINAR este Ingreso?</h6>
                                    <p id="white">Eliminar este Ingreso modificará el Saldo de Caja del Chofer.</p>
                                </div>
                                <div th:if="${error != null}" class="card-body text-center border border-secondary rounded" id="mensaje">                        
                                    <h6 id="white" th:text="${error}"></h6>                                                                             
                                </div>
                                <div th:if="${error == null}" class="text-center mb-2">
                                    <a id="elimina" class="btn btn-secondary bg-secondary btn-lg w-50" type="button" th:href="@{/ingreso/elimina/__${ingreso.id}__}" title="Eliminar Ingreso">Eliminar</a>
                                </div>    
                                <div class="text-center mb-2">
                                    <a class="btn btn-primary bg-primary btn-lg w-50" type="button" th:href="@{/caja/mostrarAdmin/__${ingreso.chofer.id}__}" title="Cancelar">Cancelar</a>
                                </div> 
                            </div>
                            <div id="spinner" class="modal" style="display: none;">
                                <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                                    <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                        <span class="sr-only">Cargando...</span>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const volverBtn = document.getElementById("elimina");
                                    volverBtn.addEventListener("click", function (e) {
                                        // Mostrar spinner
                                        document.getElementById("spinner").style.display = "block";
                                    });
                                });
                            </script>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>
