<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mantenimiento Registrar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css">  
                        <script>
                            window.onload = function () {
                                var fechaActual = new Date();
                                var dia = String(fechaActual.getDate()).padStart(2, '0');
                                var mes = String(fechaActual.getMonth() + 1).padStart(2, '0');
                                var anio = fechaActual.getFullYear();
                                var fechaFormateada = anio + '-' + mes + '-' + dia;

                                document.getElementById('fecha').max = fechaFormateada;
                            };
                            document.addEventListener('DOMContentLoaded', function () {
                                const inputFecha = document.getElementById('fecha');
                                const hoy = new Date();
                                const dia = String(hoy.getDate()).padStart(2, '0');
                                const mes = String(hoy.getMonth() + 1).padStart(2, '0');
                                const anio = hoy.getFullYear();
                                inputFecha.value = `${anio}-${mes}-${dia}`;
                            });
                        </script>
                        </head>
                        <body>
                            <div class="card-header mb-2" style="height: 70px;">
                                <div class="row">
                                    <div class="col-2">   
                                        <a title="Volver" th:href="@{/mantenimiento/listarAdminCamiones}" type="button">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                            </svg> 
                                        </a>   
                                    </div>
                                    <div  class="col-8 text-center">
                                        <h4>Registrar Mantenimiento</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-2">  
                                <div class="card border-secondary p-2" id="color-card">
                                    <form id="formulario" th:action="@{/mantenimiento/registro}" method="POST">
                                        <input hidden id="idOrg" th:value="${idOrg}">
                                            <input hidden id="km" th:value="${km}">
                                                <div class="row">
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2">
                                                        <label for="aplicaA" class="form-floting text-secondary">Entidad*</label>
                                                        <select class="form-control text-secondary" id="aplicaA" name="aplicaA" required onchange="enviarDatos()">
                                                            <option selected th:text="${aplica}" th:value="${aplica}"></option>
                                                            <option th:each="valor : ${aplicaA}" th:value="${valor}" th:text="${valor}"/>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">                                                                        
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                                                        <label for="idCamion" class="form-floting text-secondary">Camión*</label>
                                                        <select class="form-control text-secondary" id="idCamion" name="idEntidad" required onchange="enviarRegistroCamion()">
                                                            <option th:if="${camion == null}" selected disabled value="">Seleccione Camión</option>
                                                            <option th:if="${camion != null}" selected th:value="${camion.id}"
                                                                    th:text="${camion.dominio}+' - '+${camion.marca}+' '+${camion.modelo}"></option>
                                                            <option th:each="camion : ${camiones}"
                                                                    th:value="${camion.id}"
                                                                    th:text="${camion.dominio}+' - '+${camion.marca}+' '+${camion.modelo}"/>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                                                        <label for="tipo" class="form-floting text-secondary">Tipo*</label>
                                                        <select class="form-control text-secondary" id="tipo" name="idTipo" required>
                                                            <option th:if="${tipo == null}" selected disabled value="">Seleccione Tipo</option>
                                                            <option th:if="${tipo != null}" selected th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                                                            <option th:each="tipo : ${tipos}"
                                                                    th:value="${tipo.id}"
                                                                    th:text="${tipo.nombre}"/>
                                                        </select>
                                                    </div> 
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
                                                        <label for="obs" class="form-label text-secondary">Observación</label>
                                                        <textarea class="form-control text-secondary" id="obs" name="observacion" rows="2" th:text="${obs}" placeholder="Ingrese detalle de mantenimiento..." maxlength="150" size="150" required></textarea>
                                                    </div>  
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
                                                        <label for="fecha" class="form-label text-secondary">Fecha*</label>
                                                        <input type="date" class="form-control text-secondary" id="fecha" name="fecha" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2"> 
                                                        <label for="kmInicial" class="form-label text-secondary">Km Mantenimiento*</label> 
                                                        <div class="input-group"> 
                                                            <span class="input-group-text text-secondary">km</span> 
                                                            <input type="number" class="form-control text-secondary" id="kmInicial" placeholder="Ingrese KM"
                                                                   th:value=${km} name="km" required oninput="calcularKm()"> 
                                                        </div> 
                                                    </div> 
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                        <label for="kmVigencia" class="form-label text-secondary">Km Vigencia*</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-light text-success">km</span>
                                                            <input type="number" class="form-control bg-light text-success" id="kmVigencia" th:value=${kmVigencia}
                                                                   oninput="calcularKmAlarma()" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2"> 
                                                        <label for="kmProximo" class="form-label text-secondary">Km Próximo*</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text text-secondary">km</span>
                                                            <input type="number" class="form-control text-secondary" id="kmProximo"
                                                                   th:value=${kmProximo} name="kmProximo" required oninput="calcularKmAlarma()">
                                                        </div>
                                                    </div>                                                   
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                        <label for="kmAlarma" class="form-label text-secondary">Km Alarma*</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text bg-light text-danger">km</span>
                                                            <input type="number" class="form-control bg-light text-danger" id="kmAlarma" 
                                                                   th:value=${kmAlarma} name="kmAlarma" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:if="${error != null}" class="card bg-secondary mb-4 p-3 border-secondary text-center">                        
                                                    <h6 id="white" th:text="${error}"></h6>                                                                             
                                                </div>
                                                <div class="text-center mb-2">
                                                    <button id="registrar" class="btn btn-secondary bg-secondary border-light w-50" type="submit" title="Registrar Mantenimiento">Registrar</button>
                                                </div>
                                                <div class="text-center">
                                                    <a class="btn btn-primary bg-primary border-light w-50" type="button" th:href="@{/mantenimiento/listarAdminCamiones}" title="Cancelar">Cancelar</a>
                                                </div> 
                                                </form>
                                                </div>
                                                </div>
                                                <div id="spinner" class="modal" style="display: none;">
                                                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                                                        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                                            <span class="sr-only">Cargando...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    document.getElementById('kmInicial').addEventListener('keydown', function (event) {
                                                        if (event.key === '.' || event.key === ',') {
                                                            event.preventDefault();
                                                        }
                                                    });
                                                    document.getElementById('kmInicial').addEventListener('input', function () {
                                                        this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                    });

                                                    document.getElementById('kmProximo').addEventListener('keydown', function (event) {
                                                        if (event.key === '.' || event.key === ',') {
                                                            event.preventDefault();
                                                        }
                                                    });
                                                    document.getElementById('kmProximo').addEventListener('input', function () {
                                                        this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                    });
                                                    document.getElementById('kmVigencia').addEventListener('keydown', function (event) {
                                                        if (event.key === '.' || event.key === ',') {
                                                            event.preventDefault();
                                                        }
                                                    });
                                                    document.getElementById('kmVigencia').addEventListener('input', function () {
                                                        this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                    });
                                                    document.getElementById('kmAlarma').addEventListener('keydown', function (event) {
                                                        if (event.key === '.' || event.key === ',') {
                                                            event.preventDefault();
                                                        }
                                                    });
                                                    document.getElementById('kmAlarma').addEventListener('input', function () {
                                                        this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                    });

                                                    function enviarRegistroCamion() {

                                                        let aplicaA = document.getElementById("aplicaA").value;
                                                        let tipo = document.getElementById("tipo").value;
                                                        let idCamion = document.getElementById("idCamion").value;
                                                        let idOrg = document.getElementById("idOrg").value;

                                                        window.location.href = `/mantenimiento/registrar2?idOrg=${idOrg}&aplicaA=${aplicaA}&idTipo=${tipo}&idEntidad=${idCamion}`;

                                                    }

                                                    function enviarDatos() {

                                                        let aplicaA = document.getElementById("aplicaA").value;
                                                        let idOrg = document.getElementById("idOrg").value;

                                                        window.location.href = `/mantenimiento/registrar1?idOrg=${idOrg}&aplicaA=${aplicaA}`;

                                                    }

                                                    function calcularKm() {
                                                        const kmInicial = parseInt(document.getElementById('kmInicial').value) || 0;
                                                        const kmProximo = kmInicial + 10000;
                                                        const kmAlarma = kmInicial + 9000;
                                                        const kmVigencia = kmProximo - kmInicial;

                                                        document.getElementById('kmProximo').value = kmProximo >= 0 ? kmProximo : '';
                                                        document.getElementById('kmAlarma').value = kmAlarma >= 0 ? kmAlarma : '';
                                                        document.getElementById('kmVigencia').value = kmVigencia >= 0 ? kmVigencia : '';
                                                    }

                                                    function calcularKmAlarma() {
                                                        const kmInicial = parseInt(document.getElementById('kmInicial').value) || 0;
                                                        const kmVigencia = parseInt(document.getElementById('kmVigencia').value) || 0;
                                                        const kmProximo = kmInicial + kmVigencia;
                                                        const kmAlarma = kmProximo - 1000;

                                                        document.getElementById('kmAlarma').value = kmAlarma >= 0 ? kmAlarma : '';
                                                        document.getElementById('kmProximo').value = kmProximo >= 0 ? kmProximo : '';
                                                    }

                                                    document.getElementById('formulario').addEventListener('submit', function (event) {

                                                        const km = parseInt(document.getElementById('km').value);
                                                        const kmInicial = parseInt(document.getElementById('kmInicial').value);
                                                        const kmProximo = parseInt(document.getElementById('kmProximo').value);
                                                        const kmAlarma = parseInt(document.getElementById('kmAlarma').value);
                                                        /*        
                                                         if (km > kmInicial) {
                                                         alert('Km Actual debe ser mayor o igual a ' + km);
                                                         event.preventDefault();
                                                         return;
                                                         }
                                                         */
                                                        if (kmInicial >= kmProximo) {
                                                            alert('KM Próximo Mantenimiento debe ser mayor que KM Actual');
                                                            event.preventDefault();
                                                            return;
                                                        }

                                                        if (kmProximo < kmAlarma) {
                                                            alert('KM Alarma debe ser menor que KM Próximo Mantenimiento');
                                                            event.preventDefault();
                                                            return;
                                                        }

                                                        if (kmInicial >= kmAlarma) {
                                                            alert('KM Alarma debe ser mayor que KM Actual');
                                                            event.preventDefault();
                                                            return;
                                                        }
                                                        
                                                        document.getElementById("spinner").style.display = "block";

                                                    });
                                                </script>
                                                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                                                </body>
                                                </html>
