<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrar Masivo</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css"> 
                        <style>
                            .tabla-scroll {
                                max-height: 186px;       /* altura total de unas dos filas */
                                min-height: 186px;       /* fuerza que tenga esa altura aunque esté vacía */
                                overflow-y: auto;        /* agrega scroll vertical si se pasa */
                                border: 1px solid #dee2e6; /* mismo tono de borde bootstrap */
                                border-radius: 0.25rem;
                            }

                            .tabla-scroll table {
                                margin-bottom: 0;
                            }

                            .tabla-scroll thead th {
                                top: 0;
                                background-color: #f8f9fa;
                                z-index: 1;
                            }

                            .tabla-scroll tbody:empty::before {
                                content: "";
                                display: block;
                                height: 186px; 
                            }
                            .btn-eliminar {
                                background: none;
                                border: none;
                                color: red;          /* podés ajustar el color si querés */
                                font-size: 18px;     /* tamaño del ícono */
                                cursor: pointer;
                            }

                            .btn-eliminar:hover {
                                transform: scale(1.2);  /* efecto sutil al pasar el mouse */
                            }
                        </style>
                        <script>
                            window.onload = function () {
                            var fechaActual = new Date();
                            var dia = String(fechaActual.getDate()).padStart(2, '0');
                            var mes = String(fechaActual.getMonth() + 1).padStart(2, '0');
                            var anio = fechaActual.getFullYear();
                            var fechaFormateada = anio + '-' + mes + '-' + dia;

                            document.getElementById('fecha').max = fechaFormateada;
                            };
                            document.addEventListener('DOMContentLoaded', function () {
                            const inputFecha = document.getElementById('fecha');
                            const hoy = new Date();
                            const dia = String(hoy.getDate()).padStart(2, '0');
                            const mes = String(hoy.getMonth() + 1).padStart(2, '0');
                            const anio = hoy.getFullYear();
                            inputFecha.value = `${anio}-${mes}-${dia}`;
                            });
                        </script>
                        </head>
                        <body>
                            <div class="card-header mb-2" style="height: 70px;">
                                <div class="row">
                                    <div class="col-2">   
                                        <a title="Volver" th:href="@{/mantenimiento/listarChofer}" type="button">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                            </svg> 
                                        </a>   
                                    </div>
                                    <div  class="col-8 text-center">
                                        <h4>Registrar Mantenimientos</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="container">  
                                <form id="formulario" th:action="@{/mantenimiento/registroMasivoChofer}" method="POST">
                                    <div class="card border-secondary p-2 mb-1" id="color-card">
                                        <div class="row mb-2">                                                                      
                                            <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-4 mb-1">
                                                <label for="idCamion" class="form-floting text-secondary">Camión*</label>
                                                <input th:if="${camion != null}" class="form-control text-secondary" id="idCamion"
                                                       th:value="${camion.dominio}+' - '+${camion.marca}+' '+${camion.modelo}" disabled>

                                            </div>
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-1">
                                                <label for="idAcoplado" class="form-floting text-secondary">Acoplado*</label>
                                                <input th:if="${acoplado != null}" class="form-control text-secondary" id="idAcoplado"
                                                       th:value="${acoplado.dominio}+' - '+${acoplado.marca}+' '+${acoplado.modelo}" disabled>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-1">
                                                <label for="fecha" class="form-label text-secondary">Fecha*</label>
                                                <input type="date" class="form-control text-secondary" id="fecha" name="fecha" required>
                                            </div>
                                        </div>
                                        <h6 class="text-primary text-center">Mantenimientos Camión</h6>
                                        <div class="row mb-2">
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-3 col-xl-3 mb-2">
                                                <label for="tipo" class="form-floting text-secondary">Tipo Mantenimiento*</label>
                                                <select class="form-control text-secondary" id="tipo">
                                                    <option selected disabled value="">Seleccione Tipo</option>
                                                    <option th:each="tipo : ${tiposCamion}"
                                                            th:value="${tipo.id}"
                                                            th:text="${tipo.nombre}"/>
                                                </select>
                                            </div> 
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-1"> 
                                                <label for="kmInicialCamion" class="form-label text-secondary">Km Camión*</label> 
                                                <div class="input-group"> 
                                                    <span class="input-group-text text-secondary">km</span> 
                                                    <input type="number" class="form-control text-secondary" id="kmInicialCamion"
                                                           th:value=${kmCamion} oninput="calcularKmCamion()"> 
                                                </div> 
                                            </div> 
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                                <label for="kmVigenciaCamion" class="form-label text-secondary">Km Vigencia*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-light text-success">km</span>
                                                    <input type="number" class="form-control bg-light text-success" id="kmVigenciaCamion" th:value=${kmVigenciaCamion}
                                                           oninput="calcularKmAlarmaCamion()">
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-1"> 
                                                <label for="kmProximoCamion" class="form-label text-secondary">Km Próximo*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text text-secondary">km</span>
                                                    <input type="number" class="form-control text-secondary" id="kmProximoCamion"
                                                           th:value=${kmProximoCamion} oninput="calcularKmAlarmaCamion()">
                                                </div>
                                            </div>                                                   
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                                <label for="kmAlarmaCamion" class="form-label text-secondary">Km Alarma*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-light text-danger">km</span>
                                                    <input type="number" class="form-control bg-light text-danger" id="kmAlarmaCamion" 
                                                           th:value=${kmAlarmaCamion}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3"> 
                                            <div class="col-10 col-sm-10 col-md-11 col-lg-11 col-xl-11">                                                 
                                                <input type="text" class="form-control text-secondary" id="observacionC" placeholder="Ingrese Observación..." maxlength="200" size="200">
                                            </div>
                                            <div class="form-floating" >
                                                <label class="form-label text-white"></label>
                                                <button type="button" class="btn btn-outline-primary border-primary p-1" id="addMantenimientoCamion" title="Agregar Mantenimiento">
                                                    <svg id="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div class="table-responsive tabla-scroll">
                                                    <table class="table table-sm table-bordered mb-0" id="tablaMantenimientosCamion">
                                                        <thead class="thead-light">
                                                            <tr class="text-center">
                                                                <th>Tipo</th>
                                                                <th>Km Camión</th>
                                                                <th>Km Vigencia</th>
                                                                <th>Km Próximo</th>
                                                                <th>Km Alarma</th>
                                                                <th>Observación</th>
                                                                <th class="text-center" style="width: 50px;">Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class="text-primary text-center">Mantenimientos Acoplado</h6>
                                        <div class="row mb-2">
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-3 col-xl-3 mb-1">
                                                <label for="tipoA" class="form-floting text-secondary">Tipo Mantenimiento*</label>
                                                <select class="form-control text-secondary" id="tipoA">
                                                    <option selected disabled value="">Seleccione Tipo</option>
                                                    <option th:each="tipo : ${tiposAcoplado}"
                                                            th:value="${tipo.id}"
                                                            th:text="${tipo.nombre}"/>
                                                </select>
                                            </div> 
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-1"> 
                                                <label for="kmInicialAcoplado" class="form-label text-secondary">Km Acoplado*</label> 
                                                <div class="input-group"> 
                                                    <span class="input-group-text text-secondary">km</span> 
                                                    <input type="number" class="form-control text-secondary" id="kmInicialAcoplado"
                                                           th:value=${kmAcoplado} oninput="calcularKmAcoplado()"> 
                                                </div> 
                                            </div> 
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                                <label for="kmVigenciaAcoplado" class="form-label text-secondary">Km Vigencia*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-light text-success">km</span>
                                                    <input type="number" class="form-control bg-light text-success" id="kmVigenciaAcoplado" th:value=${kmVigenciaAcoplado}
                                                           oninput="calcularKmAlarmaAcoplado()">
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-1"> 
                                                <label for="kmProximoAcoplado" class="form-label text-secondary">Km Próximo*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text text-secondary">km</span>
                                                    <input type="number" class="form-control text-secondary" id="kmProximoAcoplado"
                                                           th:value=${kmProximoAcoplado} oninput="calcularKmAlarmaAcoplado()">
                                                </div>
                                            </div>                                                   
                                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                                <label for="kmAlarmaAcoplado" class="form-label text-secondary">Km Alarma*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-light text-danger">km</span>
                                                    <input type="number" class="form-control bg-light text-danger" id="kmAlarmaAcoplado" 
                                                           th:value=${kmAlarmaAcoplado}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-10 col-sm-10 col-md-11 col-lg-11 col-xl-11">
                                                <input type="text" class="form-control text-secondary" id="observacionS" placeholder="Ingrese Observación..." maxlength="200" size="200">
                                            </div>
                                            <div class="form-floating" >
                                                <label class="form-label text-white"></label>
                                                <button type="button" class="btn btn-outline-primary border-primary p-1" id="addMantenimientoAcoplado" title="Agregar Mantenimiento">
                                                    <svg id="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12">
                                                <div class="table-responsive tabla-scroll">
                                                    <table class="table table-sm table-bordered mb-0" id="tablaMantenimientosAcoplado">
                                                        <thead class="thead-light">
                                                            <tr class="text-center">
                                                                <th>Tipo</th>
                                                                <th>Km Acoplado</th>
                                                                <th>Km Vigencia</th>
                                                                <th>Km Próximo</th>
                                                                <th>Km Alarma</th>
                                                                <th>Observación</th>
                                                                <th class="text-center" style="width: 50px;">Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> 
                                        <div th:if="${error != null}" class="card bg-secondary mb-4 p-3 border-secondary text-center">                        
                                            <h6 id="white" th:text="${error}"></h6>                                                                             
                                        </div>
                                        <!-- Modal OT abierta -->
                                        <div class="modal fade" id="modalOtAbierta" tabindex="-1"
                                             aria-labelledby="modalOtAbiertaLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-primary">
                                                        <h5 class="modal-title text-white"
                                                            id="modalOtAbiertaLabel">
                                                            Mensaje
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-secondary fw-bold mb-0">
                                                            El Vehículo seleccionado tiene OT en estado Abierto. Por favor, comuníquese con su Administrador para continuar desde OT.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="btn btn-primary"
                                                                onclick="window.location.href='/index'">
                                                            Aceptar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mb-2">
                                            <button class="btn btn-secondary bg-secondary border-light w-50" type="submit" title="Registrar">Registrar</button>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-primary bg-primary border-light w-50" type="button" th:href="@{/mantenimiento/listarChofer}" title="Cancelar">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                                <input hidden id="kmC" th:value=${kmCamion}>
                                    <input hidden id="kmVigenciaC" th:value=${kmVigenciaCamion}>
                                        <input hidden id="kmProximoC" th:value=${kmProximoCamion}>
                                            <input hidden id="kmAlarmaC" th:value=${kmAlarmaCamion}>
                                                <input hidden id="kmA" th:value=${kmAcoplado}>
                                                    <input hidden id="kmVigenciaA" th:value=${kmVigenciaAcoplado}>
                                                        <input hidden id="kmProximoA" th:value=${kmProximoAcoplado}>
                                                            <input hidden id="kmAlarmaA" th:value=${kmAlarmaAcoplado}>
                                                                </div>
                                                                <div id="spinner" class="modal" style="display: none;">
                                                                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                                                                        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                                                            <span class="sr-only">Cargando...</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Script para abrir el modal automáticamente -->
                                                                <script th:inline="javascript">

                                                                    let flag = [[${flag}]];

                                                                    if(flag){
                                                                    window.addEventListener('load', function () {
                                                                    let modal = new bootstrap.Modal(
                                                                    document.getElementById('modalOtAbierta')
                                                                    );
                                                                    modal.show();
                                                                    });
                                                                    }

                                                                </script>
                                                                <script>
                                                                    document.getElementById('kmInicialCamion').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmInicialCamion').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });

                                                                    document.getElementById('kmProximoCamion').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmProximoCamion').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });
                                                                    document.getElementById('kmVigenciaCamion').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmVigenciaCamion').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });
                                                                    document.getElementById('kmAlarmaCamion').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmAlarmaCamion').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });

                                                                    document.getElementById('kmInicialAcoplado').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmInicialAcoplado').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });

                                                                    document.getElementById('kmProximoAcoplado').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmProximoAcoplado').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });
                                                                    document.getElementById('kmVigenciaAcoplado').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmVigenciaAcoplado').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });
                                                                    document.getElementById('kmAlarmaAcoplado').addEventListener('keydown', function (event) {
                                                                    if (event.key === '.' || event.key === ',') {
                                                                    event.preventDefault();
                                                                    }
                                                                    });
                                                                    document.getElementById('kmAlarmaAcoplado').addEventListener('input', function () {
                                                                    this.value = this.value.replace(/[^0-9]/g, ''); // Elimina cualquier carácter no numérico
                                                                    });

                                                                    function calcularKmCamion() {
                                                                    const kmInicial = parseInt(document.getElementById('kmInicialCamion').value) || 0;
                                                                    const kmProximo = kmInicial + 10000;
                                                                    const kmAlarma = kmInicial + 9000;
                                                                    const kmVigencia = kmProximo - kmInicial;

                                                                    document.getElementById('kmProximoCamion').value = kmProximo >= 0 ? kmProximo : '';
                                                                    document.getElementById('kmAlarmaCamion').value = kmAlarma >= 0 ? kmAlarma : '';
                                                                    document.getElementById('kmVigenciaCamion').value = kmVigencia >= 0 ? kmVigencia : '';
                                                                    }

                                                                    function calcularKmAlarmaCamion() {
                                                                    const kmInicial = parseInt(document.getElementById('kmInicialCamion').value) || 0;
                                                                    const kmVigencia = parseInt(document.getElementById('kmVigenciaCamion').value) || 0;
                                                                    const kmProximo = kmInicial + kmVigencia;
                                                                    const kmAlarma = kmProximo - 1000;

                                                                    document.getElementById('kmAlarmaCamion').value = kmAlarma >= 0 ? kmAlarma : '';
                                                                    document.getElementById('kmProximoCamion').value = kmProximo >= 0 ? kmProximo : '';
                                                                    }
                                                                    function calcularKmAcoplado() {
                                                                    const kmInicial = parseInt(document.getElementById('kmInicialAcoplado').value) || 0;
                                                                    const kmProximo = kmInicial + 10000;
                                                                    const kmAlarma = kmInicial + 9000;
                                                                    const kmVigencia = kmProximo - kmInicial;

                                                                    document.getElementById('kmProximoAcoplado').value = kmProximo >= 0 ? kmProximo : '';
                                                                    document.getElementById('kmAlarmaAcoplado').value = kmAlarma >= 0 ? kmAlarma : '';
                                                                    document.getElementById('kmVigenciaAcoplado').value = kmVigencia >= 0 ? kmVigencia : '';
                                                                    }

                                                                    function calcularKmAlarmaAcoplado() {
                                                                    const kmInicial = parseInt(document.getElementById('kmInicialAcoplado').value) || 0;
                                                                    const kmVigencia = parseInt(document.getElementById('kmVigenciaAcoplado').value) || 0;
                                                                    const kmProximo = kmInicial + kmVigencia;
                                                                    const kmAlarma = kmProximo - 1000;

                                                                    document.getElementById('kmAlarmaAcoplado').value = kmAlarma >= 0 ? kmAlarma : '';
                                                                    document.getElementById('kmProximoAcoplado').value = kmProximo >= 0 ? kmProximo : '';
                                                                    }
                                                                </script>
                                                                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                                                                <script>
                                                                    let mantenimientosCamion = [];
                                                                    let mantenimientosAcoplado = [];

                                                                    // --- CAMIÓN ---
                                                                    $('#addMantenimientoCamion').click(function () {

                                                                    const tipo = $('#tipo').val();
                                                                    const tipoTexto = $('#tipo option:selected').text();
                                                                    const km = $('#kmInicialCamion').val();
                                                                    const kmProximo = $('#kmProximoCamion').val();
                                                                    const kmVigencia = $('#kmVigenciaCamion').val();
                                                                    const kmAlarma = $('#kmAlarmaCamion').val();
                                                                    const observacion = $('#observacionC').val();

                                                                    if (!tipo || !km || !kmProximo || !kmVigencia || !kmAlarma) {
                                                                    alert("Debe completar todos los campos antes de agregar.");
                                                                    return;
                                                                    }

                                                                    // 🔹 Validar si el tipo ya fue agregado para CAMIÓN
                                                                    const existe = mantenimientosCamion.some(m => m.tipoMantenimiento === tipo);
                                                                    if (existe) {
                                                                    alert("Ya se ha agregado este tipo de mantenimiento para el camión.");
                                                                    return;
                                                                    }

                                                                    const mantenimiento = {
                                                                    tipoMantenimiento: tipo,
                                                                    aplicaA: "CAMION",
                                                                    km: km,
                                                                    kmVigencia: kmVigencia,
                                                                    kmProximo: kmProximo,
                                                                    kmAlarma: kmAlarma,
                                                                    observacion: observacion,
                                                                    estado: tipoTexto
                                                                    };

                                                                    mantenimientosCamion.push(mantenimiento);

                                                                    let observacionMostrar = observacion;

                                                                    if (observacion && observacion.length > 25) {
                                                                    observacionMostrar = observacion.substring(0, 25) + '...';
                                                                    }

                                                                    // Agregar fila visualmente
                                                                    const fila = `
                                                                    <tr class="text-center text-secondary">
                                                                    <td>${tipoTexto}</td>
                                                                    <td>${km}</td>
                                                                    <td>${kmVigencia}</td>
                                                                    <td>${kmProximo}</td>
                                                                    <td>${kmAlarma}</td><td title="${observacion || ''}">${observacionMostrar || ''}</td>
                                                                    <td><button type="button" class="btn-eliminar eliminarFilaCamion">❌</button></td>
                                                                    </tr>`;
                                                                    $('#tablaMantenimientosCamion tbody').append(fila);

                                                                    document.getElementById("tipo").value = "";
                                                                    document.getElementById("kmInicialCamion").value = parseInt(document.getElementById('kmC').value) || 0;
                                                                    document.getElementById("kmVigenciaCamion").value = parseInt(document.getElementById('kmVigenciaC').value) || 0;
                                                                    document.getElementById("kmProximoCamion").value = parseInt(document.getElementById('kmProximoC').value) || 0;
                                                                    document.getElementById("kmAlarmaCamion").value = parseInt(document.getElementById('kmAlarmaC').value) || 0;
                                                                    document.getElementById("observacionC").value = "";
                                                                    });

                                                                    // Eliminar fila de camión
                                                                    $(document).on('click', '.eliminarFilaCamion', function () {
                                                                    const index = $(this).closest('tr').index();
                                                                    mantenimientosCamion.splice(index, 1);
                                                                    $(this).closest('tr').remove();
                                                                    });

                                                                    // --- ACOPLADO ---
                                                                    $('#addMantenimientoAcoplado').click(function () {
                                                                    const tipo = $('#tipoA').val();
                                                                    const tipoTexto = $('#tipoA option:selected').text();
                                                                    const km = $('#kmInicialAcoplado').val();
                                                                    const kmVigencia = $('#kmVigenciaAcoplado').val();
                                                                    const kmProximo = $('#kmProximoAcoplado').val();
                                                                    const kmAlarma = $('#kmAlarmaAcoplado').val();
                                                                    const observacion = $('#observacionS').val();

                                                                    if (!tipo || !km || !kmProximo || !kmVigencia || !kmAlarma) {
                                                                    alert("Debe completar todos los campos antes de agregar.");
                                                                    return;
                                                                    }

                                                                    // 🔹 Validar si el tipo ya fue agregado para ACOPLADO
                                                                    const existe = mantenimientosAcoplado.some(m => m.tipoMantenimiento === tipo);
                                                                    if (existe) {
                                                                    alert("Ya se ha agregado este tipo de mantenimiento para el acoplado.");
                                                                    return;
                                                                    }

                                                                    const mantenimiento = {
                                                                    tipoMantenimiento: tipo,
                                                                    aplicaA: "ACOPLADO",
                                                                    km: km,
                                                                    kmVigencia: kmVigencia,
                                                                    kmProximo: kmProximo,
                                                                    kmAlarma: kmAlarma,
                                                                    observacion: observacion,
                                                                    estado: tipoTexto
                                                                    };

                                                                    mantenimientosAcoplado.push(mantenimiento);

                                                                    let observacionMostrar = observacion;

                                                                    if (observacion && observacion.length > 25) {
                                                                    observacionMostrar = observacion.substring(0, 25) + '...';
                                                                    }

                                                                    const fila = `
                                                                    <tr class="text-center text-secondary">
                                                                    <td>${tipoTexto}</td>
                                                                    <td>${km}</td>
                                                                    <td>${kmVigencia}</td>
                                                                    <td>${kmProximo}</td>
                                                                    <td>${kmAlarma}</td>
                                                                    <td title="${observacion || ''}">${observacionMostrar || ''}</td>
                                                                    <td><button type="button" class="btn-eliminar eliminarFilaAcoplado">❌</button></td>
                                                                    </tr>`;
                                                                    $('#tablaMantenimientosAcoplado tbody').append(fila);

                                                                    document.getElementById("tipoA").value = "";
                                                                    document.getElementById("kmInicialAcoplado").value = parseInt(document.getElementById('kmA').value) || 0;
                                                                    document.getElementById("kmVigenciaAcoplado").value = parseInt(document.getElementById('kmVigenciaA').value) || 0;
                                                                    document.getElementById("kmProximoAcoplado").value = parseInt(document.getElementById('kmProximoA').value) || 0;
                                                                    document.getElementById("kmAlarmaAcoplado").value = parseInt(document.getElementById('kmAlarmaA').value) || 0;
                                                                    document.getElementById("observacionC").value = "";
                                                                    });

                                                                    // Eliminar fila de acoplado
                                                                    $(document).on('click', '.eliminarFilaAcoplado', function () {
                                                                    const index = $(this).closest('tr').index();
                                                                    mantenimientosAcoplado.splice(index, 1);
                                                                    $(this).closest('tr').remove();
                                                                    });

                                                                    // --- ENVIAR FORMULARIO ---
                                                                    $('#formulario').submit(function (event) {
                                                                    // 🔹 Validar que haya al menos un mantenimiento cargado
                                                                    if (mantenimientosCamion.length === 0 && mantenimientosAcoplado.length === 0) {
                                                                    alert("Debe agregar al menos un tipo de mantenimiento para camión o acoplado antes de enviar el formulario.");
                                                                    event.preventDefault(); // Evita que se envíe
                                                                    return;
                                                                    }

                                                                    document.getElementById("spinner").style.display = "block";

                                                                    // 🔹 Crear inputs ocultos con los JSON para enviar al backend
                                                                    $('<input>').attr({
                                                                    type: 'hidden',
                                                                    name: 'mantenimientosCamionJson',
                                                                    value: JSON.stringify(mantenimientosCamion)
                                                                    }).appendTo('#formulario');

                                                                    $('<input>').attr({
                                                                    type: 'hidden',
                                                                    name: 'mantenimientosAcopladoJson',
                                                                    value: JSON.stringify(mantenimientosAcoplado)
                                                                    }).appendTo('#formulario');
                                                                    });

                                                                </script>
                                                                </body>
                                                                </html>
