<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuario Listar</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                    <link rel="stylesheet" href="/css/medidas_container.css">   
                        </head>
                        <body>                           
                            <div class="card-header mb-2" style="height: 70px;">
                                <div class="row">
                                    <div class="col-2">   
                                        <a title="Volver" th:href="@{/index}"  type="button">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                                            </svg> 
                                        </a>   
                                    </div>
                                    <div  class="col-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 text-center">
                                        <h4>Lista de Clientes</h4>
                                    </div>
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-center">
                                        <a th:href="@{/usuario/registrarAdmin}">
                                            <svg id="white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                            </svg> <h6 id="icono">Nuevo</h6> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-2">   
                                <div th:if="${exito != null}" class="card bg-secondary mb-4 p-3 border border-secondary rounded text-center">                        
                                    <h6 id="white" th:text="${exito}"></h6>                                                                             
                                </div>
                                <div th:each="usuario : ${usuarios}" th:if="${usuario.rol == 'ADMIN'}">
                                    <div class="card border-secondary p-3 mb-1" id="color-card">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <h6 th:text="'ID ORG: '+${usuario.idOrg}+' - '+${usuario.nombre}"></h6>
                                                    <h6 id="dimmgray" th:text="'CUIT: '+${usuario.cuil}"></h6>
                                                    <h6 class="mb-0" id="dimgray" th:text="'Nombre de Usuario: '+${usuario.usuario}" ></h6>
                                                </div>
                                            </div>
                                            <div class="col-4 text-center">
                                                <div class="card-body">
                                                    <a th:href= "@{/usuario/mostrarAdmin/__${usuario.idOrg}__}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                                            <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                                            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                                                        </svg><p id="dimgray">Cuentas</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                <div class="text-center mb-2">
                                    <a class="btn btn-primary bg-primary btn-lg w-50" type="button" title="Volver" th:href="@{/index}">Salir</a>
                                </div>
                            </div>
                            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                        </body>
                        </html>
